@import url('https://fonts.googleapis.com/css2?family=Montserat:wght@500&family=Work+Sans&display-swap');
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
            /*raiz da arvore elemento*/
:root{
   --font:'Montserrat', sans-serif;
   --prime-font: 'Work Sans', sans-serif;
   --bg: rgb(1,1,1);
   --main-color: rgb(243, 10, 10);
   --main-font-color: rgba(207, 123, 123, 0.616);
   --sec-font-color: rgba(243, 241, 235, 0.972);
}
            /*corpo*/
body{
    background: var(--bg);
    font-family: var(--font);
    font-weight: bold;
    overflow-x: hidden;
}
header{ 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;/*alinhar os elementos*/
    padding: 20px 0; /*distancia da borda*/
}
.logo-imagem{
    width: 60px;
    height: 60px;
}
.container-logo{
    display: flex;
    align-items: center;
}
      /*alinhar elementos do nav*/
 
.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 15px;
    text-decoration: none; /*tira o sublinhado*/
    color: var(--sec-font-color);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 10px;
}
.menu li a:hover{
    transition: background .8s;
    background: var(--main-font-color);
}
.main{
    width: 85%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position:relative;
}
.main::before, .main::after{
    content: '';
    width: 80%;
    height: 70%;
    background: rgb(21, 22, 24);
    position: absolute;
    bottom: 0;
    right: -10%;
    z-index: -10;
}
.main::after{
    background: rgba(21, 22, 25, 0.522);
    height: 60%;
    top: 20px;
    left: -40%;
    border-top: 1px solid rgb(200, 30, 24);
    border-right: 1px solid rgb(186, 73, 201);
    z-index: -11;
}
.box h1{
    font-size: 6.seg;
    color: var(--main-color);
    margin-bottom: 0.2em;
}
.box p{
    font-size: 1.2em;
    color: var(--sec-font-color);
    margin-bottom: 1.2em;
}

.main img {
    width: 30em; /*largura*/
    position: absolute;
    right: 50px; /*direita*/
    z-index: -1;
}
/* responsividade*/
@media (max-width: 1250px){
    .main img{ width: 25em; right: 0; }
}
@media (max-width: 1000px){
    body{ font-size: 14px;}
    .main img{ width 35em; top: 80px; }
    .main{ align-items: flex-end; }
}
